* {
  border: 1px solid red;
  box-sizing: border-box;
}

.body {
  max-width: 100%;
  width: 1000px;
}

.header {
  margin-top: 50px;
  height: 50px;
  margin: 0 2%;
}

.header_text {
  font-size: 30px;
  font-weight: bold;
  color: #233B6C;
  float: left;
  position: relative;
}

.list {
  float: right;
}

.list ul {
  list-style: none;
}

.list li {
  float: left;
  margin-left: 30px;
  color: #233B6C;
  font-size: 16px;
  font-weight: bold;
}

.main_content {
  width: 100%;
  margin: 25% auto 2%; 
  display: inline-block;
}

.text {
  font-size: 50px;
}

.color_box {
  background: #233B6C;
  display: inline-block;
  padding: 6% 39%;
  margin-top: -15px;
  position: relative;
}

.img{
  width: 58%;
  height: 58%;
  position: absolute;
  top: -205%;
  right: -29%;
}

.img img {
  width: 100%;
}